@import url('../styles/general.css');

.card-notice {
  display: flex;
  width: 40.6rem;
  height: 21.4rem;
  padding: 2rem;
  background-color: var(--dark);
  gap: 1.5rem;
  border-radius: 0.8rem;
  flex-grow: 1;
}

.card-notice > .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info h4 {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.9rem;
  letter-spacing: -0.016rem;
  text-transform: uppercase;
  color: var(--gray);
}

.place > p:first-child {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: -0.016rem;
  color: var(--gray);
}

.place > p:last-child {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: -0.016rem;
  color: var(--gray);
}

.time > p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.032rem;
  color: var(--gray);
}

.time > i {
  font-size: 3.5rem;
  color: var(--gray);
}

.card-notice > img {
  border-radius: 1rem;
}