@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  --font-family: 'Inter', sans-serif;
  font-size: 62.5%;
  --yellow: #f9bb2a;
  --dark: #3f3d55;
  --gray: #b7b5ca;
  --background: #201e36;
  --thin-background: #27243f;
  --white: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}