@import url('../styles/general.css');

.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}

.notice-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 6rem;
  gap: 2.5rem;
}