@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  font-size: 10px;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  --color-white: white;
  --color1: #201E36;
  --color2: #F9BB2A;
  --color3: #27243F;
  --color4: #3F3D55;
  --color5: #B7B5CA;
  --size-icon: 4rem;
}

#root {
  position: relative;
}

/* styles for forms */

div.row {
  height: 71.2rem;
}

div.row > div:first-child {
  background: linear-gradient(0deg, rgba(249, 187, 42, 0.5),
    rgba(249, 187, 42, 0.5)), url('../images/background.png');
  background-size: cover;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 8rem;
}

div.back > p {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: -0.128rem;
  color: var(--color-white);
}

div.back > button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: -0.08rem;
  color: var(--color-white);
  border: 2px solid #fcfcfc;
  border-radius: 3.5rem;
  background-color: transparent;
  padding: 1.8rem 0;
  width: 22.9rem;
}

div.row > div:last-child {
  background-color: var(--color1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

div.row form.register {
  background-color: var(--color3);
  padding: 3.8rem 3.8rem 2.5rem 3.8rem;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.register > div {
  position: relative;
}

form.register i {
  font-size: 2.5rem;
  position: absolute;
  top: 1.8rem;
  left: 2.7rem;
  color: var(--color5);
}

form.register input {
  /* styling the font */
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: -0.08rem;
  color: var(--color5);
  /* styling the border, margins and paddings */
  background-color: var(--color4);
  border: none;
  border-radius: 25px;
  margin-bottom: 1.7rem;
  padding: 1.8rem 6.5rem;
  caret-color: var(--color2);
}

form.register h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -0.032rem;
  color: var(--color-white);
  text-align: center;
  margin-bottom: 3.5rem;
}

form.register button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: 0.032rem;
  color: var(--color-white);
  padding: 1.8rem;
  width: 23.3rem;
  border-radius: 3.5rem;
  border: none;
  background-color: var(--color2);
}

div.col-7 {
  position: relative;
}

i.close-register {
  position: absolute;
  z-index: 1;
  font-size: 4rem;
  color: var(--color5);
  right: 3rem;
  top: 3rem;
}

i.close-register:hover {
  cursor: pointer;
}

form.login {
  display: flex;
  flex-direction: column;
  width: 79.1rem;
  margin: 0 auto;
  background-color: var(--color1);
  border-radius: 2rem;
  padding: 16.3rem 13.6rem;
  gap: 3rem;
}

form.login h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -0.032rem;
  color: var(--color-white);
  text-align: center;
}

form.login input[type='text'] {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: 0.16rem;
  color: var(--color5);
  background-color: var(--color4);
  padding: 2.5rem 4.3rem;
  border-radius: 4rem;
  border: none;
}

form.login label {
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.064rem;
  color: var(--color-white);
}

form.login button {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: 0.032rem;
  color: var(--color-white);
  background-color: var(--color2);
  border-radius: 3.5rem;
  padding: 2.4rem 0;
  border: none;
}

form.login p {
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3rem;
  letter-spacing: -0.064rem;
  text-align: center;
  color: var(--color-white);
  margin-top: 4.3rem;
}

form.login a {
  color: var(--color2);
  text-decoration: underline;
}

form.login a:hover {
  cursor: pointer;
}

i.close-login {
  position: absolute;
  font-size: 4rem;
  color: var(--color5);
  right: 30rem;
  top: 3rem;
}

i.close-login:hover {
  cursor: pointer;
}

.all-window {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
